* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    overflow: hidden;
    background-color: white;
}

#renderSurface {
    width: 100vw;
    height: 100vh;
}

#loading {
    position: absolute;
    z-index: 9999;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background: linear-gradient(0deg, #ff0041, #000000);
    background-size: 400% 400%;
    animation: AnimationName 8s ease 1s forwards;
    transition: all 1s ease-in;
}

#loading.fade-out {
    opacity: 0;
}

@keyframes AnimationName {
    from {background-position:50% 0%}
    to {background-position:51% 100%}
}

.keys {
    position: relative;
    width: 44rem;
    left: 50%;
    transform: translateX(-50%);
}

.key {
    opacity: 0;
    position: relative;
    width: 10rem;
    height: calc((100vh - 2rem) / 4 );
    background-color: white;
    box-shadow: 1rem 1rem;
}

.key1 {
    left: 33rem;
    animation: opacity 0.2s ease 8.9s forwards, pianoPress 0.5s ease 9.2s forwards;
}

.key2{
    left: 22rem;
    animation: opacity 0.2s ease 8.1s forwards, pianoPress 0.5s ease 8.4s forwards;
}

.key3{
    left: 11rem;
    animation: opacity 0.2s ease 7.3s forwards, pianoPress 0.5s ease 7.6s forwards;
}

.key4 {
    animation: opacity 0.2s ease 6.5s forwards, pianoPress 0.5s ease 6.8s forwards;
}

@keyframes opacity{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes invisible {
    from { opacity: 1; }
    to { opacity: 0; }
}


@keyframes pianoPress{
    from {
        transform: translate(0, 0);
        box-shadow: 1rem 1rem;
    }
    to {
        transform: translate(1rem, 1rem);
        box-shadow: 0 0;
    }
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;

    /* animation: opacity 1s ease 10s forwards; */
    transition: all 1s ease-in;
}

#container.fade-in {
    opacity: 1;
}

.piano {
    position: absolute;
    z-index: 999;
    height: 33rem;
    width: 100vw;
    cursor: pointer;
}

.white-key {
    display: inline-block;
    width: calc(100vw / 17);
    height: 30rem;
    background-color: white;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
    opacity: 30%;
}

.white-key:hover {
    opacity: 80%;
}

.white-comp-key {
    margin-top: 25rem;
    text-align: center;
}

.black-key {
    position: absolute;
    top: 0;
    width: calc(100vw / 34);
    height: 18rem;
    background-color: black;
}

.black-key:hover {
 background-color: gray;
}

.black-comp-key {
    color: white;
    margin-top: 14rem;
    text-align: center;
}

.black-key1 {
    left: calc((100vw / 17) - (100vw / 68));
}

.black-key2 {
    left: calc((100vw / 17) * 2 - (100vw / 68));
}

.black-key3 {
    left: calc((100vw / 17) * 4 - (100vw / 68));
}

.black-key4 {
    left: calc((100vw / 17) * 5 - (100vw / 68));
}

.black-key5 {
    left: calc((100vw / 17) * 6 - (100vw / 68));
}

.black-key6 {
    left: calc((100vw / 17) * 8 - (100vw / 68));
}

.black-key7 {
    left: calc((100vw / 17) * 9 - (100vw / 68));
}

.black-key8 {
    left: calc((100vw / 17) * 11 - (100vw / 68));
}

.black-key9 {
    left: calc((100vw / 17) * 12 - (100vw / 68));
}

.black-key10 {
    left: calc((100vw / 17) * 13 - (100vw / 68));
}

.black-key11 {
    left: calc((100vw / 17) * 15 - (100vw / 68));
}

.black-key12 {
    left: calc((100vw / 17) * 16 - (100vw / 68));
}